<?php
$dbServerName = "{{ mysql_ip }}";
$dbUsername = "{{ dbuser }}";
$dbPassword = "{{ dbpass }}";
$dbName = "mysql";

// create connection
$conn = new mysqli($dbServerName, $dbUsername, $dbPassword, $dbName);

// check connection
if ($conn->connect_error) {
    die("MYSQL Status: Connection failed: " . $conn->connect_error);
}
echo "MYSQL Status: Connected successfully";
?>
<html>
<head>
       <title>IHIS Automation POC</title>
</head>
<body>
    <h3><center>
        Thank you for reading this post. My IP Address is {{ ansible_ens160.ipv4.address }}.
        This is {{ ansible_lsb.id }} OS with {{ ansible_lsb.description }} architecture
    </center></h3>
    <center><p><img src="cloud.png" alt="NTT Logo"></p></center>
</body>
</html>