---
- name: Import vault vars
  include_vars: vault.yml
  
- name: High Availability and Cluster Setup Sequence
  include_tasks: "{{ ha_cluster_rule_item }}"
  loop:
    - rules/update_hosts_file.yml
    - rules/install_packages.yml
    - rules/parking_page.yml
    - rules/start_services.yml
    - rules/append_hacluster_password.yml
  loop_control:
    loop_var: ha_cluster_rule_item