- name: Assign password for hacluster
  user:
    name: hacluster
    append: yes
    password: $6$7LXLuiUQQlH7iXZi$2bD.iHJAAEtU5dXk8xkyBYSV4/lAQvzdA6goJO7bQzoJEBIzMnNYXCnTkAeFMq42Jn5NoMhT8kbmBRPcSOAVo.

- name: Setup the authentication
  shell: "pcs host auth {{ fqdn1 }} {{ fqdn2 }} -u hacluster -p {{ pcs_auth_pwd }}"
